<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <form>
                <h3>Login</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" href="http://localhost:4200/home"/>
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">Esqueceu a senha?</a>
                </div>
            </form>
        </div>

    </div>
</div>