<div class="container main-container">
    <mat-paginator [length]="fotos.length" [pageSize]="size" [pageIndex]="page" [pageSizeOptions]="[5, 25, 50, 5000]"
        (page)="getData($event)">
    </mat-paginator>
    <br>
    <div class="row text-center">

        <div *ngFor="let foto of fotos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content:center;">
                        <img src="{{ foto.url }}" height="164px" width="253px" alt="">
                    </div>
                </a>
                <h4 class="card-title">{{ foto.title | titlecase }}</h4>
            </div>
        </div>
    </div>

</div>